body {
	background-image: url(https://desktopmania.ru/pics/00/68/74/DesktopMania.ru-68747-300x187.jpg);
}
.first {
border: 10px white solid;
background-color: white;
margin: 0 10%;
}
.second {
background-color: #A8F0F0;
text-align: right;
}
.second h2 {
font-size: 14pt;
}
.third {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
.fourth {
	border-bottom: 2px blue dashed;
}